services:
  db:
    image: postgres:16-alpine
    container_name: stock_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stock
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: entregable4devops-backend:1.0
    container_name: stock_api
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/stock?schema=public"
      PORT: "3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: entregable4devops-frontend:1.0
    container_name: stock_frontend
    restart: always
    depends_on:
      - api
    ports:
      - "5173:5173"


volumes:
  postgres_data:
