apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "stock-management.fullname" . }}-backend-config
  labels:
    {{- include "stock-management.backend.labels" . | nindent 4 }}
data:
  PORT: {{ .Values.backend.service.port | quote }}
  NODE_ENV: {{ .Values.environment | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "stock-management.fullname" . }}-frontend-config
  labels:
    {{- include "stock-management.frontend.labels" . | nindent 4 }}
data:
  VITE_API_URL: {{ .Values.frontend.apiUrl | quote }}
